@charset "UTF-8";
body {
    font-family:"Courier New", monospace;
    padding-top: 50px;
    padding-right: 20px;
    padding-bottom: 0px;
    padding-left: 20px;
}
 
#text{
	max-width:600px; 
    position:relative;
	margin: 0 auto;
    text-align: justify;

}

.sect:hover{
    text-decoration:underline;
    cursor: pointer;
}

