@charset "UTF-8";

#text{
    font-family:"Courier New", monospace;
	max-width:600px; 
    position:relative;
	margin: 0 auto;
    text-align: justify;

}

.sect:hover{
    text-decoration:underline;
    cursor: pointer;
}

